#title {
   background-color: black;
   color: white;
}

.center {
   background-color: black;
   color: white;
}

.right-box {
   background-color: black;
   color: white;
}

#findme {
   color: orange;
}
