#title {
   background-color: black;
   color: white;
}

.center {
   background-color: black;
   color: white;
   border: clamp(3px, 5px, 8px) gray solid;
}

.right-box {
   border: clamp(3px, 5px, 8px) gray solid;
   background-color: black;
   color: white;
}

#findme {
   color: orange;
}
